Hi <b>
    @model ENAPEK.Models.GetENAREKModel
    <div>
        <label>Date of Birth:</label>
        @Html.TextBoxFor(model => model.BirthDate, new { @class = "datefield",  type = "date" })
        <!--Editor Template for DateTime -->
    </div>

</b>