@{
    ViewBag.Title = "Home Page";
}

<div >
    <h3>Αναζήτηση ΕΝ.ΑΡ.ΕΚ.</h3>
    <h4>Σύστημα Αναζήτησης Μοναδικού 'Ενιαίου Αριθμού Εκπαίδευσης' του Πολίτη</h4>
    <p class="Minedu-paragraph">
        Η υπηρεσία Αναζήτησης Μοναδικού 'Ενιαίου Αριθμού Εκπαίδευσης' διατίθεται μόνο για πολίτες που διαθέτουν λογαριασμό στο TaxisNet. <br/>

        Σε περίπτωση που δεν διαθέτετε λογαριασμό στο TaxisNet μπορείτε να πληροφορηθείτε σχετικά με την δημιουργία του στην σελίδα των υπηρεσιών πιστοποίησης της Ανεξάρτητης Αρχής Δημοσίων Εσόδων.<br />

        Με την σύνδεση σας στην εφαρμογή μέ τη χρήση κωδικού TaxisNet έχετε την δυνατότητα να αναζητήσετε είτε τον προσωπικό σας ΕΝ.ΑΡ.ΕΚ είτε των προστατευομένων μελών σας.<br />

        Για τεχνικά προβλήματα παρακαλούμε απευθυνθείτε στα ακόλουθα τηλέφωνα(εργάσιμες ημέρες και ώρες από 9:00 έως και 15:00) :<br />

        210 344 2037<br />
        
        ή αποστείλτε μήνυμα ηλεκτρονικού ταχυδρομείου στο <b>deti@minedu.gov.gr</b> με Θέμα: <b> "ΕΝΑΡΕΚ Πρόβλημα"</b><br />

        <br />
        Για είσοδο στην εφαρμογή επιλέξτε <a href="@Url.Action("GetEnarekFull", "Home")"> ΑΝΑΖΗΤΗΣΗ ΕΝΑΡΕΚ</a><br />
        <br />
        Για ενημέρωση σε σχέση με τον Ενιαίο Αριθμό Εκπαίδευσης επιλέξτε εδώ<br />

    </p>
    
    
</div>


